.envrc

.eastwood

.clj-kondo/
.lsp/

# pybuilder
.pybuilder/
__pycache__/

# lein
target/
.lein-repl-history
.lein-failures
pom.*

# ide
.calva

*.iml
.idea/

auth.edn
config.edn

build-and-move-frontend.sh
website.yaml

out.yaml
.eastwood
