{:issuer "staging"
 :websites
 [{:unique-name "test.io" ; todo: call this unique-name
   :fqdns ["test.de" "test.org" "www.test.de" "www.test.org"]
   :gitea-host "gitlab.de"
   :gitea-repo "repo"
   :branchname "main"}
  {:unique-name "example.io"
   :fqdns ["example.org", "www.example.com"]
   :gitea-host "finegitehost.net"
   :gitea-repo "repo"
   :branchname "main"}]}
