{:issuer "staging"
 :websites
 [{:uname "meissa.io"
   :fqdns ["meissa.de" "meissa-gmbh.de" "www.meissa-gmbh.de"
           "www.meissa.de" "www.prod.meissa-gmbh.de" "www.prod.meissa.de"]
   :gitea-host "repo.prod.meissa.de"
   :gitea-repo "repo"
   :branchname "main"}
  {:uname "dda.io"
   :fqdns ["domaindrivenarchitecture.org", "www.domaindrivenarchitecture.org",
           "www.prod.domaindrivenarchitecture.org"]
   :gitea-host "repo.prod.meissa.de"
   :gitea-repo "repo"
   :branchname "main"}]}
