{:authtoken "asdfasdfe"
 :gitrepourl "https://some.de/path/to/repo.zip"
 :singlegitrepourl "https://someother.de/path/to/repo.zip"}

{:auth
 [{:name "meissa.io"
   :username ""
   :authtoken ""}
  {:name "dda.io"
   :username ""
   :authtoken ""}]}
